extends layouts/main

block scripts
    script(src="js/villages.js")

block content
    ol.breadcrumb
        li
            a(href="index.html")
                i.fa.fa-home
                | &nbsp;หน้าหลัก
        li.active
            i.fa.fa-home
            | &nbsp;หมู่บ้าน/หลังคาเรือน/ประชากร
    div(ng-app="App" ng-controller="MainController")
        .well-sm
           form.form-inline(rolw="form")
              .row
                 .col-sm-9.col-md-9.col.lg-9
                   .form-group
                       label.control-label(for="slVilages") หมู่บ้าน &nbsp;
                       select#slVilages.form-control(style="width: 260px;",
                       ng-model="village",
                       ui-select2="select2Options",
                       ng-change="getHouse()")
                           option(ng-repeat="item in villages", value="{{item.village_id}}") {{'หมู่ ' + item.village_moo + ' ' + item.village_name}}
                       | &nbsp;
                       button(type="button").btn.btn-sm.btn-success
                          i.fa.fa-check-square-o
                       label.control-label(for="slHouse") &nbsp; บ้านเลขที่ &nbsp;
                       select#slHouse.form-control(style="width: 100px;",
                       ng-model="house",
                       ui-select2="select2Options",
                       ng-change="getPersonList()")
                            option(ng-repeat="item in houses", value="{{item.house_id}}") {{item.address}}
                       | &nbsp;
                       button(type="button").btn.btn-sm.btn-success
                          i.fa.fa-check-square-o
                       | &nbsp; | &nbsp;
                       .btn-group
                          button(type="button").btn.btn-sm.btn-default
                             i.fa.fa-plus-circle
                          button(type="button").btn.btn-sm.btn-default
                             i.fa.fa-home
                          button(type="button").btn.btn-sm.btn-default
                             i.fa.fa-user
                       | &nbsp;
                 .col-sm-3.col-md-3.col-lg-3

                    .btn-group.pull-right
                       button(type="button").btn.btn-sm.btn-primary
                          i.fa.fa-search
                       button(type="button").btn.btn-sm.btn-default
                          i.fa.fa-print
        br
        .well-sm
             table.table.table-hover
                thead
                   tr
                      th HN
                      th เลขบัตรประชาชน
                      th คำนำ
                      th ชื่อ - สกุล
                      th วันเกิด
                      th อายุ (ป-ด-ว)
                      th เพศ
                      th ตำแหน่ง
                      th Typearea
                      th สถานะ
                      th #
                tbody
                   tr(ng-repeat="p in person")
                      td.text-center {{p.patient_hn}}
                      td.text-center {{p.cid}}
                      td.text-center {{p.pname}}
                      td {{p.fname}} {{p.lname}}
                      td.text-center {{p.birthdate | toThaiDate}}
                      td.text-center {{p.birthdate | toFullAge}}
                      td.text-center {{p.sex | toSex}}
                      td.text-center {{p.house_position_name}}
                      td.text-center {{p.typearea}}
                      td.text-center {{p.discharge_name}}
                      td.text-center
                        button.btn.btn-sm.btn-success
                            i.fa.fa-edit
        br
        nav
           ul.pagination
              li.disabled
                 a(href="#") &laquo;
              li.active
                 a(href="#") 1
                    span.sr-only (current)
              li
                 a(href="#") 2
              li
                 a(href="#") 3
              li
                 a(href="#") 4
              li
                 a(href="#") 5
              li
                 a(href="#") &raquo;